p {
    background-color: rgb(231, 90, 137);
    font-family: Verdana, sans-serif;

}
#second-element {
    color: rgb(11, 11, 192);
    font-size: 36px;
}
.third-element {
    font-size: 24px;
}
#fourth-element {
    background-color: rgb(101, 206, 101);
    font-size: 24px;
    font-weight: bold;
}